
body{
overflow-x: hidden;
}
.crypto-widget {
    position: absolute;
    top: 80%;
    height: 100%;
    max-height: 700px;
    background-color: #ffffff;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #56667f;
    border-radius: 10px;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
    font-feature-settings: normal;
    text-size-adjust: 100%;
    box-shadow: inset 0 -20px 0 0 #56667f;
    padding: auto;
    margin: 0px;
    width: 90%;
    margin: 20px;
}
.child-element{
    text-align: center;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}
.crypto-widget .embeded{
    height: 100%;
     padding: 0px;
    margin: 0px;
     width: 100%"
    
}
.btc-overview{
    margin-top: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
@media (max-width:1280px){
    .btc-overview{
        margin-top: 600px;
    }
    
}
@media (max-width:500px) {
    .btc-overview{
        margin-top: 700px;
       
    }
    
}
 @media (max-width:300px){
    .btc-overview{
        margin-top: 500px;
    }
    
 }
