
body{
overflow-x: hidden;
}
.crypto-widget {
    
    height: 100%;
   padding: 80px;
    margin: 20px;
}
.child-element{
    position: absolute;
    top: 70%;
    width: 90%;
    border-radius: 10px;
    text-align: center;
    margin: 40px;
    /* border: 2px solid green; */
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 600px;
}
.market-update{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    margin-top: 400px;
    flex-wrap: wrap;
    
    
}

.btc-overview{
    margin-top: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
@media (max-width:1280px){
    .btc-overview{
        margin-top: 600px;
    }
    
}
@media (max-width:500px) {
    .btc-overview{
        margin-top: 700px;
       
    }
    
}
 @media (max-width:300px){
    .btc-overview{
        margin-top: 500px;
    }
    
 }
